# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Node / Angular
node_modules/
dist/
.angular/

# Environment files
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store

# AWS / CDK
cdk.out/

# Coverage
.coverage
htmlcov/
